<div class="container-fluid">
    <h1>Menü</h1>
    <hr>
    <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
        <button  class="m-3 btn btn-outline-success my-2 my-sm-0 p-6"  type="submit" [routerLink]="['/form']">Tool hinzufügen</button>
        <button  class="m-3 btn btn-outline-success my-2 my-sm-0"  type="submit" [routerLink]="['/edittool']">Tool bearbeiten</button>
        <button  class="m-3 btn btn-outline-success my-2 my-sm-0"  type="submit" [routerLink]="['/addfeature']">Feature hinzufügen</button>
        <button  class="m-3 btn btn-outline-success my-2 my-sm-0"  type="submit" [routerLink]="['/addcategory']">Kategorie hinzufügen</button>
    </div>
</div>


