<div class="container-fluid">
    <h1>Kategorien</h1>
    <hr>
    <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
        <app-cards *ngFor="let cat of categories" [title]="cat.title" class="nav-link register-custom" [routerLink]="['/categories', cat.id] " (click)="onClickMe(cat.id)"> </app-cards>
    </div>
    <div *ngIf="category != null">
        <h1 class="p-3">  {{category.title}}</h1>
        <span class="p-3" >{{category.description}}</span>

        <h2 class="p-3"> Unterkategorien </h2>
        <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
            <app-cards *ngFor="let subCategory of category.subCategories" [title]="subCategory.title" class="nav-link register-custom" [routerLink]="['/categories', subCategory.id]" (click)="onClickMe(subCategory.id)"> </app-cards>
        </div>
        <h2 class="p-3" >Tools</h2>
        <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
            <app-cards *ngFor="let app of apps.applications" [title]="app.title" class="nav-link register-custom" [routerLink]="['/application', app.id]" (click)="onClickMe(app.id)"></app-cards>
        </div>
    </div>
</div>