<div class="container-fluid">
    <h1>Kategorien</h1>
    <hr>
    <!-- <a  *ngFor = "let cat of categories "class="nav-link register-custom" [routerLink]="['/categories', cat.id]"  >{{cat.title}} <span class="sr-only">(current)</span></a>-->
    <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
        <app-cards *ngFor="let cat of categories" [title]="cat.title" class="nav-link register-custom"
            [routerLink]="['/categories', cat.id] " (click)="onClickMe(cat.id)"> </app-cards>
    </div>
    <!--category-->

    <div *ngIf="category != null">
        <!--{{console.log(category)}}-->
        <h1> {{category.title}}</h1>
        <br>
        <span>{{category.description}}</span>
        <br>
        <br>

        <h2> Unterkategorien </h2>
        <br>
        <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
            <br>
            <br>
            <!--
      {{console.log(subCategory | json)}}
        {{console.log(subCategory)}}
        {{console.log(subCategory.description)}}
            <a class="nav-link register-custom" [routerLink]="['/categories', subCategory.id]"  >{{subCategory.title | json }} <span class="sr-only">(current)</span></a>
-->


            <!--- {{subCategory.description}} -->
            <!---  {{console.log(subCategory, subCategory.description)}}-->
            <!---   <a class="nav-link register-custom" [routerLink]="['/categories', subCategory.id]" > {{ subCategory.title }} <span class="sr-only">(current)</span></a>-->
            <app-cards *ngFor="let subCategory of category.subCategories" [title]="subCategory.title"
                class="nav-link register-custom" [routerLink]="['/categories', subCategory.id]"
                (click)="onClickMe(subCategory.id)"> </app-cards>

            <br>



        </div>


        <br>
        <br>
        <h2>Tools</h2>

        <div class="d-flex p-2 bd-highlight flex-row align-content-start flex-wrap">
            <app-cards *ngFor="let app of apps.applications" [title]="app.title" class="nav-link register-custom"
                [routerLink]="['/application', app.id]" (click)="onClickMe(app.id)"></app-cards>
        </div>

    </div>
</div>