<div class="container-fluid">
  <h1>Categories</h1>
  <a  *ngFor = "let cat of categories "class="nav-link register-custom" [routerLink]="['/categories', cat.id]"  >{{cat.title}} <span class="sr-only">(current)</span></a>
  
  <!--category-->
  
  <div *ngIf="category != null">
      {{console.log(category)}}
    <h1>{{category.title}}</h1>
    <span>{{category.description}}</span>
    <div *ngFor="let subCategory of category.subCategories">
      <!--
      {{console.log(subCategory | json)}}
        {{console.log(subCategory)}}
        {{console.log(subCategory.description)}}-->
      <a class="nav-link register-custom" [routerLink]="['/categories', subCategory.id]"  >{{subCategory.title | json }} <span class="sr-only">(current)</span></a>
    </div>

  </div>

</div>



