<div class="container-fluid">
  <h1>Features</h1>
<hr>
Wählen Sie aus der Liste alle Funktionen, die das gesuchte Werkzeug bereitstellen soll. Tool.UP zeigt Ihnen die Werkzeuge, die möglichst viele Ihrer Anforderungen erfüllen.
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <div *ngFor = "let feature of features" class="form-check" >
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{feature.title}}
          </label>
        </div>
        </div>

      <div class="col">
        <div *ngFor = "let feature of first" class="form-check" >
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{feature.title}}
          </label>
        </div> 
           </div>
    </div>

  <br>

<h3>Die folgenden Tools zeigen die höchste Übereinstimmung mit der gesuchten Feature-Kombination:</h3>
<br>
<br>
<br>
<br>
<h3>Die folgenden Tools zeigen die höchste Übereinstimmung mit der gesuchten Feature-Kombination:</h3>

</div>


