<div class="container-fluid">
    <h1>Tool editieren</h1>
    <hr>

    <form  [formGroup]="ToolSelection">
        <label >Tool zum editieren auswählen
            <select formControlName="selection">
              <option *ngFor="let app of appsfromWebservice " value="{{app.id}}">{{app.title}}</option>
            </select> 
          </label>
        <button (click)=onclick() class="btn btn-outline-success my-2 my-sm-0"  type="submit">Bestätigen</button>
      </form> 

        
      <form  [formGroup]="myForm"  *ngIf="clicked">
          <div class="form-group">
            <label for="email">Titel</label>
            <input  value="{{app.title}}" type="text" class="form-control" formControlName="title">
          </div>
          
          <div class="form-group">
            <label >Kurzbeschreibung</label>
            <input  value="{{app.shortDescription}}" type="text" class="form-control"  formControlName="shortDescription">
          </div>
  
          <div class="form-group">
            <label >Kontakt</label>
            <input  value="{{app.contact}}" type="text" class="form-control" formControlName="contact">
          </div>
  
          <div class="form-group">
            <label >Provider</label>
            <input  value="{{app.provider}}" type="text" class="form-control"  formControlName="provider">
          </div>
  
          <div class="form-group">
            <label >Beschreibung</label>
            <textarea  class="form-control" formControlName="description" placeholder="{{app.description}}" form="form_id"></textarea>
          </div>

          <button (click)=onupdate() class="btn btn-outline-success my-2 my-sm-0"  type="submit">Update</button>
          <button (click)=ondelete() class="btn btn-outline-danger my-2 my-sm-0"  type="submit">Tool löschen</button>

         <!--
          <button (click)=editfeatures() class="btn btn-outline-success my-2 my-sm-0"  type="submit">Features bearbeiten</button>
          <br>

         <div *ngIf="editfeature">
          <label>Features zum löschen anklicken</label>
              <div *ngFor = "let feature of featureForApp.features " class="form-check p-1" >
                  <input class="form-check-input" (click)="clickFeature(feature.id)" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    {{feature.title}}
                  </label>
              </div> 
              <br>

          <div class="form-group" formArrayName="features">
            <div *ngFor="let feature of features.controls; let i = index" [formGroupName]="i">
              <label for="pwd">Feature
                <select formControlName="id">
                  <option *ngFor="let test of featuresFromWebservice" value="{{test.id}}">{{test.title}}</option>
                </select> 
              </label>
              <button (click)=deleteFeature(i) class="btn btn-outline-danger my-2 my-sm-0" type="submit">Löschen</button>
          </div>
      </div>
      <button (click)=addFeature() class="btn btn-outline-success my-2 my-sm-0"  type="submit">Feature hinzufügen</button>
      <br>
      <br>
    </div>
    <br>
    <button (click)=editcats() class="btn btn-outline-success my-2 my-sm-0"  type="submit">Kategorien bearbeiten</button>
<div *ngIf="editcat">
    <br>
      <label>Kategorien zum löschen anklicken</label>
      <div *ngFor = "let cat of catsForApp.categories" class="form-check p-1" >
          <input class="form-check-input" (click)="clickCategory(cat.id)" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{cat.title}}
          </label>
      </div> 

      <br>

  <div class="form-group" formArrayName="kategorien">

    <div *ngFor="let cat of cats.controls; let i = index" [formGroupName]="i">
      <label for="pwd">Kategorie
        <select formControlName="name">
          <option *ngFor="let test of catsFromWebservice" value="{{test.id}}">{{test.title}}</option>
        </select> 
      </label>
      <button (click)=deleteCats(i) class="btn btn-outline-danger my-2 my-sm-0" type="submit">Löschen</button>
  </div>
</div>
<button (click)=addCats() class="btn btn-outline-success my-2 my-sm-0"  type="submit">Kategorie hinzufügen</button>
<br>
<br>
</div>
-->
    </form> 
</div>
        
        
   